Click
Flask
Flask-SQLAlchemy
Flask-WTF
Jinja2
MarkupSafe
PyJWT
SQLAlchemy
WTForms
Werkzeug
astroid
certifi
chardet
idna
isort
itsdangerous
Lazy-object-proxy
mccabe
mysql-connector-python
pip
protobuf
pylint
requests
setuptools
six
urllib3
wrapt