{# A footer template for SOEN 487 project #}
<br />
<footer>
    <div class="footer-box">
        <div class="footer-box-content">
            <h5 class="footer-h">More At Cineplex</h5>
            <ul class="footer-ul">
                <li>Help Centre</li>
                <li>Career at Cineplex</li>
                <li>Cineplex Mobile</li>
                <li>Cineplex Magazine</li>
            </ul>
        </div>
    </div>
    <div class="footer-box">
        <div class="footer-box-content">
            <h5 class="footer-h">Corporate Information</h5>
            <ul class="footer-ul">
                <li>Corporate Sales & Rentals</li>
                <li>Corporate Information</li>
                <li>Press Room</li>
                <li>Investor Relations</li>
            </ul>
        </div>
    </div>
    <div class="footer-box">
        <div class="footer-box-content">
            <h5 class="footer-h">Theatre Information</h5>
            <ul class="footer-ul">
                <li>Find a Theatre</li>
                <li>Food and Drink</li>
                <li>Book a party</li>
                <li>Stars and Strollers</li>
            </ul>
        </div>
    </div>
    <div class="footer-box">
        <div class="footer-box-content">
            <h5 class="footer-h">Top movies and events</h5>
            <ul class="footer-ul">
                <li>Movie No.1</li>
                <li>Movie No.2</li>
                <li>Movie No.3</li>
                <li>Movie No.4</li>
            </ul>
        </div>
    </div>
</footer>