{% extends "layout.html" %}
{% block head %}
    <!-- Explanation for static files: http://flask.pocoo.org/docs/1.0/tutorial/static/ -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% endblock %}
{% block content %}
    <div>
        <h2 class="base-h2">Log In</h2>
    </div>
    <div id=container>
      <form>
        <label>USERNAME</label>
        <br>
            <input type = "text" name = "username"/>
         <br><br>
         <label>PASSWORD</label><br>
            <input type = "password" name = "pass" />
        <br>
        <span class = "button"><input type="submit" name="login_form" value="LOGIN"/></span>
      </form>
    </div>
{% endblock %}