{% extends "layout.html" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/movies_stylesheet.css') }}">
{% endblock %}
{% block content %}

    <div>
        <h2>{{ movie.name.upper() }}</h2>
    </div>

    <div class="flex-container">
        <div>
            {% set alt_movie = movie.name + ' move poster' %}
            {% set url = url_for('static', filename='images/' + movie.name + '.jpg') %}
            <br><img src="{{ url }}"  alt="{{ alt_movie }}">
        </div>

        <div>
            <p>{{ movie.description }}</p>

            <label>RATING</label><br>
            {{ movie.rating }}<br>

            <label>GENRES</label><br>
            {{ movie.genres | join(", ") }}<br>

            <label>ACTORS</label><br>
            {{ movie.actors | join(", ") }}<br>

            <label>DIRECTORS</label><br>
            {{ movie.directors | join(", ") }}<br>

            <label>STUDIO</label><br>
            {{ movie.studio }}<br>

            <label>LENGTH</label><br>
            {{ movie.length }}<br>
        </div>
    </div><!--end of FLEX-CONTAINER-->
           
{% endblock %}