html {
    background:#000000;
    background-image: radial-gradient(circle, #858484, #7e7d7d, #777677, #707070, #696969, #5e5e5e, #535353, #484848, #373737, #262626, #171717, #000000);
    background-repeat: no-repeat;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    height: 100em;
    padding: 4em 2em 4em;
}

.flex-container { 
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 90%; 
    margin-left: 2em;
}

.flex-container div { 
    width: 50%;
    font-size: 15px;
}

#container {
    padding-left: 5em;
    padding-top: 2em;
}

h1 {
    color:#e60000;
    font-style: italic;
    line-height: 1;
    font-size: 2.5em;
    margin-top: -1em;
}

span{
    font-style: italic;
    font-weight: bolder;
}

h2 { 
    font-size: 1.5em;
    color: #000000;
    margin-top: 2.5em;
    margin-left: 1em;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding-bottom: 0.5em;
    width: 93%;
}

p {
    padding-top: 1em;
    font-size: 15px;
    color: #000000;
}

label {   
    line-height: 2.5;
    
    color: #FF7E00;
    font-size: 14px;
    font-weight: 200;
}

/*!--NAVIGATION BAR--*/
nav {
    background-color: #D10202;
    height: 3em;
    color: white;
    font-size: 0.5em;
    font-weight: 400;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D10202;
}

.nav-li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ff9900;
}

li:last-child {
  border-right: 1px solid white;
}
/*!--END OF NAVIGATION BAR--*/

.active {
  background-color: #990000;
}
.confirm {
    color: #222;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1;
}

/*!--link to signup page--*/
a { 
    font-size: 14px;
    color: #004080;
    padding-top: 12px;
    text-decoration: none;
    border-top: 1px solid #004080;
}

.subtitle {
    color:  #000000;
    font-weight: 600;
    font-size: 1.4em;
    margin-top: 3em;
    margin-bottom: 0.7em;
}

/*!--Footer--*/

.footer-box {
    float: left;
    width: 25%;
}

.footer-box-content {
    padding-left: 10%;
    text-align: left;
}

.footer-h {
    margin-bottom: 10px;
}

.footer-ul {
    list-style-type: none;
    font-size: small;
    padding: 0;
    margin: 0;
}