{# A narbar template for SOEN487 project #}
<nav>
    <ul class="nav-ul">
      <li class="nav-li"><a href="homepage.html">HOME</a></li>
      <li class="nav-li"><a href="profile.html">YOUR PROFILE</a></li>
      <li class="nav-li"><a href="booking.html">BOOK TICKETS</a></li>
      <li class="nav-li"><a href="recommendations.html">RECOMMENDATIONS</a></li>
      <li class="nav-li"><a href="">NEAR YOU</a></li>
      <li style="float:right"><a class="active" href="signup.html">SIGN UP</a></li>
      <li style="float:right"><a class="active" href="login.html">LOG IN</a></li>
    </ul>
</nav>