{% extends "layout.html" %}
{% block head %}
    <!-- Explanation for static files: http://flask.pocoo.org/docs/1.0/tutorial/static/ -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% endblock %}
{% block content %}

    <h2 class="base-h2">YOUR MOVIE PROFILE</h2>
    <div>
        <p class="flex-container-2">Our objective is to provide you with movie recommendations best suited to your interests.
            <br>Complete the following fields to help us suggest the right movies for your viewing pleasure!</p>
    </div>

    <div class="flex-container-2">
        <form action="/create-profile" method="post"><br>

            <label>RATINGS</label><br>
            <input type="checkbox" name = "ratingG" value="G"/>&nbsp;G (General)&nbsp;&nbsp;
            <input type="checkbox" name = "ratingPG" value="PG"/>&nbsp;PG (Parental Guidance)&nbsp;&nbsp;
            <input type="checkbox" name = "ratingPG13" value="PG-13"/>&nbsp;PG-13&nbsp;&nbsp;
            <input type="checkbox" name = "ratingR" value="R"/>&nbsp;R (Restricted)&nbsp;&nbsp;


            <br><br>
            <label>GENRES</label><br>
            <input type="checkbox" name = "genreAction" value="action"/>&nbsp;Action&nbsp;&nbsp;
            <input type="checkbox" name = "genreAdventure" value="adventure"/>&nbsp;Adventure&nbsp;&nbsp;
            <input type="checkbox" name = "genreAnimation" value="animation"/>&nbsp;Animation&nbsp;&nbsp;
            <input type="checkbox" name = "genreComedy" value="comedy"/>&nbsp;Comedy&nbsp;&nbsp;
            <input type="checkbox" name = "genreCrime" value="crime"/>&nbsp;Crime&nbsp;&nbsp;<br>
            <input type="checkbox" name = "genreDrama" value="drama"/>&nbsp;Drama&nbsp;&nbsp;
            <input type="checkbox" name = "genreFantasy" value="fantasy"/>&nbsp;Fantasy&nbsp;&nbsp;
            <input type="checkbox" name = "genreFiction" value="fiction"/>&nbsp;Fiction&nbsp;&nbsp;
            <input type="checkbox" name = "genreHorror" value="horror"/>&nbsp;Horror&nbsp;&nbsp;
            <input type="checkbox" name = "genreMystery" value="mystery"/>&nbsp;Mystery&nbsp;&nbsp;<br>
            <input type="checkbox" name = "genrePolitical" value="political"/>&nbsp;Political&nbsp;&nbsp;
            <input type="checkbox" name = "genreRomance" value="romance"/>&nbsp;Romance&nbsp;&nbsp;
            <input type="checkbox" name = "genreThriller" value="thriller"/>&nbsp;Thriller&nbsp;&nbsp;
            <input type="checkbox" name = "genreSciFi" value="scifi"/>&nbsp;Science Fiction&nbsp;&nbsp;

            <br><br>
            <label>ACTORS</label><br>
            <input type="text" name="actor1"/>&nbsp;

            {% if form.actor1.errors %}
                <ul class="footer-ul">
                    {% for error in form.actor1.errors %}
                    <li class="error-li">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <input type="text" name="actor4"/><br>
            <input type="text" name="actor2"/>&nbsp;
            <input type="text" name="actor5"/><br>
            <input type="text" name="actor3"/>&nbsp;
            <input type="text" name="actor6"/>
            <br><br>

            <label>DIRECTORS</label><br>
            <input type="text" name="director1"/><br>

            {% if form.director1.errors %}
                <ul class="footer-ul">
                    {% for error in form.director1.errors %}
                        <li class="error-li">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <input type="text" name="director2"/><br>
            <input type="text" name="director3"/>
            <br><br>

            <label>STUDIOS</label><br>
            <input type="checkbox" name = "studioWarn" value="Warner Bros."/>&nbsp;Warner Bros.&nbsp;&nbsp;
            <input type="checkbox" name = "studioSony" value="Sony Pictures"/>&nbsp;Sony Pictures&nbsp;&nbsp;
            <input type="checkbox" name = "studioWalt" value="Walt Disney Studios"/>&nbsp;Walt Disney Studios&nbsp;&nbsp;
            <input type="checkbox" name = "studio20" value="20th Century"/>&nbsp;20th Century&nbsp;&nbsp;<br>
            <input type="checkbox" name = "studioUniversal" value="Universal Pictures"/>&nbsp;Universal Pictures&nbsp;&nbsp;
            <input type="checkbox" name = "studioParamount" value="Paramount Pictures"/>&nbsp;Paramount Pictures&nbsp;&nbsp;
            <input type="checkbox" name = "studioLionsgate" value="Lionsgate Films"/>&nbsp;Lionsgate Films&nbsp;&nbsp;

            <br><br>

            <label>LENGTH</label><br>
            <input type="checkbox" name = "length60" value="60 min"/>&nbsp;&lt; 60 min &nbsp;&nbsp;
            <input type="checkbox" name = "length90" value="60-90 min"/>&nbsp;60-90 min &nbsp;&nbsp;
            <input type="checkbox" name = "length120" value="90-120 min"/>&nbsp;90-120 min &nbsp;&nbsp;
            <input type="checkbox" name = "lengthover120" value="over 120 min"/>&nbsp;&gt; 120 min &nbsp;&nbsp;

            <br><br><br>
            <button type="submit">SUBMIT</button>
            {{ form.csrf_token() }}
        </form>
    </div><!--end of flex-container-->

{% endblock %}
