<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <meta name="description" content="SOEN 387 Project Homepage.">
        <link rel="stylesheet" href="profile_stylesheet.css">
    </head>
    <body>
      
         <h1>CINEM<span>ADDICT</span></h1>
       
            <nav>
                <ul>
  <li><a href="homepage.html">HOME</a></li>
  <li><a href="profile.html">YOUR PROFILE</a></li>
  <li><a href="booking.html">BOOK TICKETS</a></li>
  <li><a href="recommendations.html">RECOMMENDATIONS</a></li>
  <li><a href="">NEAR YOU</a></li>
  <li style="float:right"><a class="active" href="signup.html">SIGN UP</a></li>
  <li style="float:right"><a class="active" href="login.html">LOG IN</a></li>
</ul>
            </nav>
        
            <div>    
                <h2>YOUR MOVIE PROFILE</h2>  
                <p>Our objective is to provide you with movie recommendations best suited to your interests.<br>Complete the following fields to help us suggest the right movies for your viewing pleasure!</p>    
            </div>
            <form method="post">
            <br>

            <label>RATINGS</label><br>
               <input type="checkbox" name = "ratingG" value="G"/>&nbsp;G (General)&nbsp;&nbsp;
               <input type="checkbox" name = "ratingPG" value="PG"/>&nbsp;PG (Parental Guidance)&nbsp;&nbsp;
               <input type="checkbox" name = "ratingPG13" value="PG-13"/>&nbsp;PG-13&nbsp;&nbsp;
               <input type="checkbox" name = "ratingR" value="R"/>&nbsp;R (Restricted)&nbsp;&nbsp;

                {% if form.ratings.errors %}
                    <ul class="footer-ul">
                        {% for error in form.ratings.errors %}
                        <li class="error-li">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            <br><br>    
            <label>GENRES</label><br>
                <input type="checkbox" name = "genreAction" value="action"/>&nbsp;Action&nbsp;&nbsp;
                <input type="checkbox" name = "genreAdventure" value="adventure"/>&nbsp;Adventure&nbsp;&nbsp;
                <input type="checkbox" name = "genreAnimation" value="animation"/>&nbsp;Animation&nbsp;&nbsp;
                <input type="checkbox" name = "genreComedy" value="comedy"/>&nbsp;Comedy&nbsp;&nbsp;
                <input type="checkbox" name = "genreCrime" value="crime"/>&nbsp;Crime&nbsp;&nbsp;<br>
                <input type="checkbox" name = "genreDrama" value="drama"/>&nbsp;Drama&nbsp;&nbsp;
                <input type="checkbox" name = "genreFantasy" value="fantasy"/>&nbsp;Fantasy&nbsp;&nbsp;
                <input type="checkbox" name = "genreFiction" value="fiction"/>&nbsp;Fiction&nbsp;&nbsp;
                <input type="checkbox" name = "genreHorror" value="horror"/>&nbsp;Horror&nbsp;&nbsp;
                <input type="checkbox" name = "genreMystery" value="mystery"/>&nbsp;Mystery&nbsp;&nbsp;<br>
                <input type="checkbox" name = "genrePolitical" value="political"/>&nbsp;Political&nbsp;&nbsp;
                <input type="checkbox" name = "genreRomance" value="romance"/>&nbsp;Romance&nbsp;&nbsp;
                <input type="checkbox" name = "genreThriller" value="thriller"/>&nbsp;Thriller&nbsp;&nbsp;
                <input type="checkbox" name = "genreSciFi" value="scifi"/>&nbsp;Science Fiction&nbsp;&nbsp;

                  {% if form.genres.errors %}
                    <ul class="footer-ul">
                        {% for error in form.genres.errors %}
                        <li class="error-li">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            <br><br>
            <label>ACTORS</label><br>
               <input type="text" name="actor1" required/>&nbsp;

                {% if form.actor1.errors %}
                    <ul class="footer-ul">
                        {% for error in form.actor1.errors %}
                        <li class="error-li">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                    <input type="text" name="actor4"/><br>
               <input type="text" name="actor2"/>&nbsp;
                    <input type="text" name="actor5"/><br>
               <input type="text" name="actor3"/>&nbsp;
                    <input type="text" name="actor6"/>
            <br><br>    
            <label>DIRECTORS</label><br>
                 <input type="text" name="dir1" required/><br>

                 {% if form.director1.errors %}
                    <ul class="footer-ul">
                        {% for error in form.director1.errors %}
                        <li class="error-li">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <input type="text" name="dir2"/><br>
                <input type="text" name="dir3"/>
            <br><br>    
            <label>STUDIOS</label><br>
                 <input type="checkbox" name = "studioWarn" value="Warner Bros."/>&nbsp;Warner Bros.&nbsp;&nbsp;
                 <input type="checkbox" name = "studioSony" value="Sony Pictures"/>&nbsp;Sony Pictures&nbsp;&nbsp;
                 <input type="checkbox" name = "studioWalt" value="Walt Disney Studios"/>&nbsp;Walt Disney Studios&nbsp;&nbsp;
                 <input type="checkbox" name = "studio20" value="20th Century"/>&nbsp;20th Century&nbsp;&nbsp;<br>
                 <input type="checkbox" name = "studioUniversal" value="Universal Pictures"/>&nbsp;Universal Pictures&nbsp;&nbsp;
                 <input type="checkbox" name = "studioParamount" value="Paramount Pictures"/>&nbsp;Paramount Pictures&nbsp;&nbsp;
                 <input type="checkbox" name = "studioLionsgate" value="Lionsgate Films"/>&nbsp;Lionsgate Films&nbsp;&nbsp;

                {% if form.studios.errors %}
                    <ul class="footer-ul">
                        {% for error in form.studios.errors %}
                        <li class="error-li">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
            <br><br>   
            <label>LENGTH</label><br>
                 <input type="checkbox" name = "length60" value="60 min"/>&nbsp;&lt; 60 min &nbsp;&nbsp;
                 <input type="checkbox" name = "length90" value="60-90 min"/>&nbsp;60-90 min &nbsp;&nbsp;
                 <input type="checkbox" name = "length120" value="90-120 min"/>&nbsp;90-120 min &nbsp;&nbsp;
                 <input type="checkbox" name = "lengthover120" value="over 120 min"/>&nbsp;&gt; 120 min &nbsp;&nbsp;

                {% if form.length.errors %}
                    <ul class="footer-ul">
                        {% for error in form.length.errors %}
                        <li class="error-li">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            <br><br><br>    
            <button type="submit">SUBMIT</button>	
            </form>
                <div class="flex-container">      
                    
                    
                </div><!--end of flex-container-->
    </body>
</html>
