{% extends "layout.html" %}
{% block head %}
    <!-- Explanation for static files: http://flask.pocoo.org/docs/1.0/tutorial/static/ -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/ticketbooking_stylesheet.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div>
        <h2 class="base-h2">View Your Recommendations!</h2>
    </div>
    <div class="flex-container">
        <div>
            {% for name in movie_names %}
                {% set alt_movie = name + ' move poster' %}
                {% set url = url_for('static', filename='images/' + name.lower() + '.jpg') %}

                <a href="{{ movie_url + name.lower() }}">
                    <img src="{{ url }}" alt="{{ alt_movie }}">
                </a>
                <p class="movie_titles">{{ name }}</p>
                <p class="book">BOOK TICKETS ></p>
            {% endfor %}
        </div>
    </div><!--end of flex-container-->

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h3>Authentication Request</h3>
            </div>
            <div class="modal-body">
                <h5>To view recommendations, please login in first.</h5>
            </div>
        </div>
    </div>

    <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>

    {% if user_not_login %}
    <script>
        var modal = document.getElementById('myModal');
        modal.style.display = "block";
    </script>
    {% endif %}

{% endblock %}
