{% extends "layout.html" %}
{% block head %}
    <!-- Explanation for static files: http://flask.pocoo.org/docs/1.0/tutorial/static/ -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="booking-box-t1">
        <h2 class="booking-h2">Personal Information</h2>
        <form action="/ticket-booking" method="post">
            <div class="booking-box-t2">
                <label>
                    <i class="fas fa-user"></i> &nbsp; First Name: <br />
                    <input class="booking-input" type="text" placeholder="Your first name" name="first_name" value="{{ user.fname }}">
                </label><br />
                <label>
                    <i class="fas fa-user"></i> &nbsp; Last Name: <br />
                    <input class="booking-input" type="text" placeholder="Your last name" name="last_name" value="{{ user.lname }}">
                </label><br />
                <label>
                    <i class="fas fa-phone"></i> &nbsp; Phone Number: <br />
                    <input class="booking-input" type="text" placeholder="Your phone number" name="phone_number" value="{{ user.phone }}">
                </label><br />
                <label>
                    <i class="fas fa-map-marker-alt"></i> &nbsp; Address: <br />
                    <input class="booking-input" type="text" placeholder="Search by City" name="address" value="{{ user.address }}">
                </label><br />
                <label>
                    <i class="far fa-calendar-alt"></i> &nbsp; Birthday: <br />
                    <input class="booking-input" type="text" placeholder="Select Show Time" name="birthday" value="{{ user.birthday }}" >
                </label><br />
            </div><br />
            <input type="submit" value="Update you profile" class="booking-btn">
        </form>
    </div>
{% endblock %}